<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CS98SI Homework 2 - Game</title>
	<link rel="stylesheet" href="game.css" type="text/css" />
</head>
<body>
	<h1>Game: Player <%= player.toUpperCase() %></h1>
	<div class="container">
	</div>
	<script>var player = "<%= player %>"</script>
	<script src="jquery-1.9.1.min.js"></script>
	<script src="game-ui.js"></script>
	<script src="game.js"></script>
</body>
</html>

